<h2>Erstelle einen Mood-Post!</h2>

<form action="/createpost" method="post">
  Titel des Posts:
  <input type="text" name="moodtitle" /><br />
  Beschreibe deinen Mood!
  <input type="text" name="moodtext" /><br />
  Füge ein Bild ein:
  <input type="image" name="moodimg" /><br />
  Activity1
  <input type="checkbox" name="moodactivity1" /><br />
  Activity2
  <input type="checkbox" name="moodactivity2" /><br />
  Activity3
  <input type="checkbox" name="moodactivity3" /><br />
  Activity4
  <input type="checkbox" name="moodactivity4" /><br />
  Activity5
  <input type="checkbox" name="moodactivity5" /><br />
  <input type="submit" value="Erstellen" />
</form>