<h2>Registriere dich hier</h2>

<form>
  Wähle deinen Nutzernamen:
  <input type="email" /><br />
  Setze dein Passwort:
  <input type="password" /><br />
  Dein Passwort wiederholen:
  <input type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>