<h2>Erstelle einen Mood-Post!</h2>

<form action="/createpost" enctype="multipart/form-data" method="post">
  Titel des Posts:
  <input type="text" name="moodtitle" /><br />
  Beschreibe deinen Mood!
  <input type="text" name="moodtext" /><br />
  Füge ein Bild ein:
  <input type="file" name="moodimg" /><br />
  Ferien
  <input type="checkbox" name="vacation" /><br />
  Sport
  <input type="checkbox" name="sport" /><br />
  Shopping
  <input type="checkbox" name="shopping" /><br />
  Dating
  <input type="checkbox" name="dating" /><br />
  Kreativität
  <input type="checkbox" name="creativity" /><br />
  Arbeit
  <input type="checkbox" name="work" /><br />
  <input type="submit" value="Erstellen" />
</form>