<h1>Mood-APP</h1>
    <h2>Dein Tracker für mentale Gesundheit</h2>
    <div class="queries">
        <div class="sections"> 
            <button onclick="queryskala()">Get skalas</button>
            <div id="skalas"></div> 
        </div>
        <div class="sections">
            <button onclick="queryimgdate()">Get imgdate</button>
            <div id="imgdates"></div> 
        </div>
        <div class="sections">
            <button onclick="querycomments()">Get comments</button>
            <div id="comments"></div> 
        </div>
        <div class="sections">
            <button onclick="countusers()">Number of users</button>
            <div id="counting"></div> 
        </div>
    </div>

{{> contactform}}